.Work .container{
    border-radius: 8px;
    margin: 0 auto;
    width:70%;
    padding-bottom:40px;
}
.WorkVideo .video{
    margin-right:60px;
}
.WorkVideo .previewTitle{
    font-style: italic;
    position:relative;
    top:-22px;
}
.WorkVideo .video, .WorkVideo .pagePreview{
    background-color:orangered;
    padding:10px;
}
.WorkVideo .previewTitle a{
   text-decoration:none;
    color:var(--font-color);
}
.dateSkill{
    color:orangered;
}
.workTitle{
    font-size: 38px;
        font-weight: 600;
        text-align: start;
        padding: 0 0 40px 40px;
}
.WorkParagraph{
    padding:0;
}

.Work{
    padding-bottom:50px;
    text-align: start;

}
.workCards{
    padding:20px 0;
}

.Work .row{
    padding:0;
}

.Work img{
    max-width:500px;
    max-height:500px;
    object-fit: cover;
    border-radius: 8px;
}

.Work .project{
    font-size: 30px;
    font-weight:600;
    padding:0;
}


@media(max-width: 1020px) {
    .workCards .workTitle{
        padding:0 0 10px 20px;
        font-size: 26px;
    }
    .dateSkill{ 
        font-size: 14px;
    }
    .WorkParagraph{
        font-size: 18px;
        padding:0;
    }
    .Work .container {
            width: 88%;
            padding:0;
            margin:0 auto;

        }
        .Work .grid{
            padding:5px;
             border-radius: 8px;
        }
    
    .Work .workTitle {
            font-size: 18px;
            padding:0;
            margin:0 auto;
        }
    
        .Work {
            padding-bottom: 10px;
        }
    
        .Work img {
            width: 250px;
            height: 250px;
            margin:20px auto;
        }
    
        .Work .project {
            font-size: 22px;
            padding:0;
        }
}