.App {
  text-align: center;
  font-family: "Julius Sans One", serif;
  font-weight: 400;
  font-style: normal;
}

@media screen and (min-width:479px) and (max-width:1023px) {}

@media (width < 480px) {
  .App {
    max-width: 100%;
    object-fit: fill;
    height: 100%;
    padding: 0;
    margin: 0;
  }
}