section{
    margin:0 auto;
}

.FeaturedProjects .grid {
    text-align: start;
    margin:0;
    padding-left:60px;
}

.FeaturedProjects.project {
    margin: 20px 0;
    font-size: 30px;
}

.FeaturedProjects.dateSkill {
    padding: 0 0 10px 0;
}

.FeaturedProjects img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

@media(max-width: 1020px) {
.FeaturedProjects img{
    width:200px;
}
    .FeaturedProjects .grid{
        margin:0 auto;
        padding:0;
        display:block;
    }
    .FeaturedProjects .row{

        margin:0 auto;
    }
    .FeaturedProjects{
        margin:0 auto;
        padding:0;
    }
}
