.Intro section{
    padding:40px;
    border-radius:8px;
}

.Intro .container{
    margin:0 auto;
}


@media(max-width: 1020px) {
.Intro section {
        padding: 0;
        border-radius: 8px;
        margin:0 auto;
    }

    .Intro .container {
        margin: 0 auto;
      
    }
}
