.Intro section{
    padding:40px;
    border-radius:8px;
}

.Intro .container{
    margin:0 auto;
}
.SelfPortrait{
    display:flex;
    width:150px;
}

@media (screen < 1020px) {

    .SelfPortrait{
        display:none;
    }
}
